@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover.jpg');
    background-size: cover;
    height: 550px;
}

.jumbotron-content {
    margin-top:100px;
}

.title {
    color:#fff;
    font-size:50pt;
    padding:5px;
    background: rgba(0, 0, 0, 0.66)
}

.desc {
    color:#fff;
    font-weight:200;
    font-size: 20pt;
    padding:5px;
    background: rgba(0, 0, 0, 0.66)
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top:15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.badge {
    background-color: #CEF6F5;
    text-transform: uppercase;
}